DISCORD_WEBHOOK_URL=
FIREBASE_API_KEY=
GEMINI_API_KEY=
GHL_API_KEY=
GHL_LOCATION_ID=
GOOGLE_DRIVE_ACCOUNT_EMAIL=
GOOGLE_DRIVE_CLIENT_ID=
GOOGLE_DRIVE_CLIENT_SECRET=
GOOGLE_DRIVE_REDIRECT_URI=
GOOGLE_DRIVE_ROOT_FOLDER_ID=